.navLeft {
	.logo{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		img {
			width: 50px;
			max-height: 60px;
			padding: 10px;
		}
		.title{
			width: 100%;
			text-align: center;
			color: royalblue;
		}
		h4{
			font-size: 13px;
		}
	}
}